div.paper {
	padding-bottom: 1rem;
	margin: 0 1rem;
	box-shadow: 0px 1px lightgrey;
	background-color: transparent;

	&:last-of-type {
		box-shadow: none;
		margin-bottom: 5rem;
	}

	h3 {
		font-size: 2rem;
	}

	.titleGroup {
		min-width: 35vw;
	}

	.summary {
		margin-top: 0.5rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	a {
		color: black;
		font-weight: 600;
		position: relative;

		p {
			position: relative;
			display: block;
			margin: 0;
			margin-right: 0.5rem;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all 0.3s ease;
		}

		svg {
			position: absolute;
			left: 1.4rem;
			top: 0rem;
			opacity: 0;
			transition: all 0.3s ease;
			z-index: 0;

			&.launchIcon {
				top: 0.5rem;
				left: 2rem;
				transform: scale(0.6);
			}
		}

		.linkAccent {
			z-index: 0;
			position: absolute;
			top: 0rem;
			left: 0.8rem;
			/* max-width: 5rem;
			max-height: 5rem; */
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			padding: 0.5rem;
			opacity: 0;
			background: linear-gradient(45deg, var(--mantine-color-myBlue-9) 0%, var(--mantine-color-myBlue-7) 100%);
			transition: all 0.3s ease;
		}

		&:hover {
			text-decoration: none;

			.launchLink {
				left: -0.5rem;
				text-decoration: underline;
			}

			.launchIcon {
				top: -0.3rem;
				left: 3rem;
				transform: scale(0.6);
			}

			.readLink {
				left: 0.5rem;
			}

			.linkAccent {
				opacity: 1;
				width: 2rem;
				height: 2rem;
				opacity: 0.4;
				top: -0.2rem;
				left: 1.9rem;
			}

			svg {
				opacity: 1;
				left: 3rem;
			}
		}
	}
}

@media (min-width: 48em) {
	div.paper {
		margin: 0 3rem;
	}
}