.root {
	background-color: var(--mantine-color-myBlue-9);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	padding-right: 1rem;
}

button.tab,
a.contactButton {
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
	margin: 0 0.5rem;
	color: black;
	width: 5rem
}

a.contactButton {
	text-align: center;
}

button.tab:hover,
a.contactButton:hover {
	text-decoration: none;
	background-color: var(--mantine-color-myBlue-3);
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.tab svg {
	transform: scale(0.9);
}

.tab {

	&:first-of-type {
		width: 3rem;
	}

	&[data-active] p {
	font-weight: 600;
	}
}