/* Mobile Styles */
.aspectRatio {
	margin: 1.2rem 0.7rem;
}

.paper {
	position: relative;
}

.paper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--custom-gradient);
}

.backgroundImage {
	height: 100%;
	filter: grayscale(100%);
}

.stack {
	padding: 0.8rem;
	padding-bottom: 0.4rem;
	height: 100%;

	h3 {
		font-size: clamp(2rem, 8vw, 3rem);
		line-height: 0.8;
	}

	p {
		font-size: clamp(0.8rem, 3vw, 1.1rem);
		line-height: 2.5;
	}

	a {
		color: black;
		font-weight: 600;
		position: relative;

		p {
			position: relative;
			display: block;
			margin: 0;
			margin-right: 0.5rem;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all 0.3s ease;
		}

		svg {
			position: absolute;
			left: 1.4rem;
			/* top: 0.6rem; */
			/* top: 0.4rem; */
			top: min(0.8vw, 0.8rem);
			/* top: 0.4rem; */
			opacity: 0;
			transition: all 0.3s ease;
			z-index: 0;
			&.launchIcon {
				top: 0.5rem;
				left: min(4.5vw, 3rem);
				transform: scale(0.6);
			}
		}

		.linkAccent {
			z-index: 0;
			position: absolute;
			top: 0rem;
			left: 0rem;
			max-width: 5rem;
			max-height: 5rem;
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
			padding: 0.5rem;
			opacity: 0;
			background: linear-gradient(45deg, var(--mantine-color-myBlue-9) 0%, var(--mantine-color-myBlue-7) 100%);
			transition: all 0.3s ease;
		}

		&:hover {
			text-decoration: none;

			.launchLink {
				top: -0.2rem;
				left: 0.2rem;
				text-decoration: underline;
			}

			.launchIcon {
				top: max(-0.5vw, -0.2rem);
				left: min(6vw, 4rem);
				transform: scale(0.6);
			}

			.readLink {
				/* top: 0.3rem; */
				left: max(-1.5rem, -1.5vw);
			}

			svg {
				opacity: 1;
				left: min(3vw, 1.8rem);
			}

			.linkAccent {
				opacity: 1;
				width: min(4vw, 2.5rem);
				height: min(4vw, 2.5rem);
				opacity: 0.4;
			}
		}
	}
}

/* Desktop Styles */
.desktop_paper {
	aspect-ratio: 2 / 1;
	background-color: transparent;
	min-height: 12rem
	/* flex: 0 0 auto; */
}

@media (min-width: 36em) {
	.aspectRatio {
		margin: 2rem;
	}
}

@media (min-width: 48em) {
	.stack {
		h3 {
			/* font-size: clamp(2rem, 4vw, 2.8rem); */
			font-size: 3.5rem;
		}
		p {
			font-size: clamp(0.8rem, 1.5vw, 1.1rem)
		}
	}
}