.hero {
	height: calc(100vh - 3rem);
	margin-left: 0.5rem;
	
	.title_box {
		position: absolute;
		top: 20vh;
	}
	h1 {
			font-size: clamp(1rem, 30vw, 14rem);
			max-width: 500px;
			line-height: 0.7;
			font-weight: 900;
			margin-bottom: 1rem;
		}
	p {
		font-size: clamp(1rem, 5vw, 2rem)
	}
}


a.scrollDownButton {
	position: absolute;
	width: 2rem;
	height: 2rem;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: var(--mantine-color-myBlue-9);
	top: 85vh;
	left: calc(100vw/2 - 1rem);
	transform: scale(1.5);
	
	svg {
		display: block;
		margin: auto;
		color: var(--mantine-color-myBlue-2);
	}
}

.circle {
	height: min(80vw, 800px);
	width: min(80vw, 800px);
	box-sizing: border-box;
	border-radius: 50%;
	background: linear-gradient(30deg, var(--mantine-color-myGreen-9) 0%, var(--mantine-color-myGreen-5) 100%);
	/* margin-top: -20vw; */
	position: relative;
	top: -20vw;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
}

div.featuredProjects {
	min-height: 100vh;
	padding: 2rem 0.7rem;
}

@media (min-width: 36em) {
	.hero {
		margin-left: 2rem;
	}
	div.featuredProjects {
		padding: 5rem 1.2rem;
	}
}


/* desktop styles */
@media (min-width: 48em) {
	.circle {
		margin-left: 30vw;
	}
	
	div.featuredProjects {
		padding: 8rem 0.7rem;
	}
}

@media (min-width: 64em) {
	div.featuredProjects {
			padding: 8rem 1.5rem;
		}
}

@media (min-width: 82em) {
	.circle {
		margin-left: 40vw;
		top: -15vw;
	}

	.hero h1,
	.hero p {
		margin-left: 2rem;
	}

	div.featuredProjects {
		padding: 10rem 4rem;
	}
}
