.hero {
	min-height: 100vh;
	margin-left: 0.5rem;
	margin-bottom: 20vw;
}

.title_box {
	position: absolute;
	top: 28vh;
}

.hero h1 {
	font-size: clamp( 1rem, 30vw, 14rem);
	max-width: 500px;
	line-height: 0.7;
	font-weight: 900;
	margin-bottom: 1rem;
}

.hero p {
	font-size: clamp(1rem, 5vw, 2rem)
}

.circle {
	height: min(80vw, 800px);
	width: min(80vw, 800px);
	box-sizing: border-box;
	border-radius: 50%;
	background: linear-gradient(30deg, var(--mantine-color-myGreen-9) 0%, var(--mantine-color-myGreen-5) 100%);
	margin-top: -20vw;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
}

div.preview {
	opacity: 0%;
	max-width: 300px;
	position: fixed;
	top: 0;
	overflow: hidden;
	aspect-ratio: 16/9;
	transition: all 150ms ease;
	/* transform-origin: 100% 100%;
	transform: translate(-48%, -150%); */
	pointer-events: none;
	z-index: -1;
	img {
		max-height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 36em) {
	.hero {
		margin-left: 2rem;
	}
}

/* desktop styles */

@media (min-width: 48em) {
	.circle {
		margin-left: 30vw;
	}

	.image_container {
		padding: 1rem;
		min-height: 50vh;
		align-items: center;
	}
}

@media (min-width: 82em) {
	.circle {
		margin-left: 40vw;
		margin-top: -15vw;
	}

	.hero h1,
	.hero p {
		margin-left: 2rem;
	}
}
