.aspectRatio {
	margin: 0.5rem 0;
}

.paper {
	position: relative;
}

.paper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(10, 45, 157);
	background: rgb(141, 159, 207);
	background: linear-gradient(30deg, rgba(141, 159, 207, 0.8) 0%, rgba(168, 196, 243, 0.8) 32%, rgba(176, 224, 173, 0.8) 69%, rgba(223, 250, 158, 0.8) 90%);
}

.backgroundImage {
	height: 100%;
	filter: grayscale(100%);
}

.stack {
	padding: 0.5rem;
}