div.preview {
	opacity: 0%;
	max-width: 300px;
	position: fixed;
	top: 0;
	overflow: hidden;
	aspect-ratio: 16/9;
	transition: all 150ms ease;
	transform-origin: 50% 50%;
	/* transform: translate(-48%, -150%); */
	pointer-events: none;
	z-index: 1;

	img {
		max-height: 100%;
		object-fit: cover;
	}
}

h1.pageTitle {
	font-size: 4rem;
	line-height: 0.9;
	padding: 4rem 0;
}

@media (min-width: 48em) {
	h1.pageTitle {
		padding: 4rem 1.9rem;
	}
}