div.preview {
	opacity: 0%;
	max-width: 300px;
	position: fixed;
	top: 0;
	overflow: hidden;
	aspect-ratio: 16/9;
	transition: all 150ms ease;
	transform-origin: 50% 50%;
	/* transform: translate(-48%, -150%); */
	pointer-events: none;
	z-index: 1;

	img {
		max-height: 100%;
		object-fit: cover;
	}
}