.root {
	background-color: var(--mantine-color-myBlue-9);
	padding-right: 1rem;
}

button.tab,
a.contactButton {
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	margin: 0 auto;
	color: black;
	width: 4rem;
}

a.contactButton:hover {
	text-decoration: none;
}

button.tab:active,
a.contactButton:active {
	background-color: var(--mantine-color-myBlue-3);
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.tab svg {
	transform: scale(0.9);
}