/* .container {
	position: relative;
} */

/* .container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--custom-gradient);
	opacity: 90%;
} */

img.backgroundImage {
	min-height: 100%;
	object-fit: cover;
	/* filter: grayscale(100%); */
}

div.card {
	padding: 0.8rem;

	h3 {
		font-size: 3rem;
		line-height: 0.8;
	}

	.titleBox {
		height: 5rem;
	}

	.imageContainer {
		aspect-ratio: 16 / 9;
		overflow: hidden;
	}

	/* p:first-of-type {
		margin: 0;
		line-height: 1.4;
		font-size: 0.9rem;
	} */

	p {
		font-size: 0.9rem;
		line-height: 1.5;
		margin: 0;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		-webkit-box-orient: vertical;

		&.summary {
			margin: 1.5rem 0 0rem;
			color: slategray;
		}
	}

	a {
		color: black;
		font-weight: 600;
		position: relative;

		p {
			position: relative;
			display: block;
			margin: 0;
			margin-right: 0.5rem;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all 0.3s ease;
		}

		svg {
			position: absolute;
			left: 1.4rem;
			/* top: 0.6rem; */
			/* top: 0.4rem; */
			top: min(0.8vw, 0.8rem);
			/* top: 0.4rem; */
			opacity: 0;
			transition: all 0.3s ease;
			z-index: 0;

			&.launchIcon {
				top: 0.5rem;
				left: min(4.5vw, 3rem);
				transform: scale(0.6);
			}
		}

		.linkAccent {
			z-index: 0;
			position: absolute;
			top: 0rem;
			left: 0rem;
			max-width: 5rem;
			max-height: 5rem;
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
			padding: 0.5rem;
			opacity: 0;
			background: linear-gradient(45deg, var(--mantine-color-myBlue-9) 0%, var(--mantine-color-myBlue-7) 100%);
			transition: all 0.3s ease;
		}

		&:hover {
			text-decoration: none;

			.launchLink {
				top: -0.2rem;
				left: 0.2rem;
				text-decoration: underline;
			}

			.launchIcon {
				top: max(-0.5vw, -0.2rem);
				left: min(6vw, 4rem);
				transform: scale(0.6);
			}

			.readLink {
				/* top: 0.3rem; */
				left: max(-1.5rem, -1.5vw);
			}

			svg {
				opacity: 1;
				left: min(3vw, 1.8rem);
			}

			.linkAccent {
				opacity: 1;
				width: min(4vw, 2.5rem);
				height: min(4vw, 2.5rem);
				opacity: 0.4;
			}
		}
	}
}

@media (min-width: 48em) {
	div.card {
		.titleBox {
			height: 4rem;
		}
		h3 {
			font-size: 2rem;
		}
	}
}

@media (min-width: 64em) {
	div.card {
		.titleBox {
				height: 5rem;
			}
		h3 {
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 82em) {
	div.card {
			h3 {
				font-size: 3rem;
			}
		}
}