* {
	scroll-behavior: smooth;
}

#home, #about, #projects, #details {
	overflow-x: clip;
	position: relative;
}

@keyframes bounce {
	0% {
		transform: translateY(0rem);
	}
	10% {
		transform: translateY(1rem);
	}
	27% {
		transform: translateY(0.2rem);
	}
	47% {
		transform: translateY(0.9rem);
	}
	53% {
		transform: translateY(0.7rem);
	}
	57% {
		transform: translateY(1rem);
	}
	87.5% {
		transform: translateY(1.1rem);
	}
	100% {
		transform: translateY(0rem);
	}
}

#scroll-down-button svg {
	animation-name: bounce;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	/* animation-direction: alternate; */
	animation-timing-function: ease-in;
}

div.headerNav {
	margin: 0;
	padding: 0;
	z-index: 1000;
	position: sticky;
	top: 0vh;
	height: fit-content;
}

/* cursor styles */
@media (any-pointer: fine) {
	.cursor {
		background-color: var(--mantine-color-myBlue-8);
		background: linear-gradient(120deg, var(--mantine-color-myBlue-9) 0%, var(--mantine-color-myBlue-5) 100%);
		opacity: 0.3;
		height: 2rem;
		width: 2rem;
		border-radius: 100%;
		transform-origin: 100% 100%;
		/* transform: translate(20%, 20%); */
		transition: all 150ms ease;
		position: fixed;
		pointer-events: none;
		z-index: -1;
	}
}
